<!DOCTYPE html>
<html lang="en">
<head>
  <title>Measure</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  

</head>
<body>

 {% csrf_token %}
    <button type="submit" name="run_script">Run script</button>

<div class="container">
  <div class="jumbotron">
    <h1>Distance Measure</h1>      
  </div> 
{% comment %} <canvas id="myChart" width="200" height="200"></canvas>   {% endcomment %}

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
              <canvas id="line-chart" width="300" height="250"></canvas>
        </div>
         <div class="col-md-6">
                <table class="table">
                <caption>Numeric values:</caption>
                <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                  {% for res in myresult %}
                  <tr>
                  <td>{{ res.id }}</td>
                  <td>{{ res.distance }}</td>
                  <td>{{ res.time }}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>


         </div>
    </div>
<div>

{% block content %}
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels|safe }},
    datasets: [{ 
        data: {{ data|safe }},
        label: "Distance",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Distance in time:'
    }
  }
});
</script>
{% endblock %}

{% block includes %}

{% for res in myresult %}
    ID: {{ res.id }}
    Distance: {{ res.distance }}
    Time: {{ res.time }}
    <br>
{% endfor %}

{% endblock includes %}


</body>
</html>
