<!DOCTYPE html>
<html lang="en">
<head>
  <title>Measure</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  

</head>
<body>

 {% csrf_token %}


  <form action='read' method='GET'>
    <button type='submit'> Start Reading</button>
  </form>


<div class="container">
  <div class="jumbotron">
    <h1 class="text-center p-3 mb-2 bg-info text-white">Distance Measure</h1>   
    <p id="demo"></p>   
  </div> 

</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
              {% comment %} <canvas id="line-chart" width="300" height="250"></canvas> {% endcomment %}
              <div><canvas id="mycanvas" width="300" height="250"></canvas></div>
        </div>
         <div class="col-md-6">
                <table class="table">
                <caption>Numeric values:</caption>
                <thead                
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                  {% for res in myresult %}
                  <tr>
                  <td>{{ res.id }}</td>
                  <td>{{ res.distance }}</td>
                  <td>{{ res.time }}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>


         </div>
    </div>
<div>

{% block content %}

{{ data_one }}

<script>
var myVar = setInterval(myTimer, 1000);

function myTimer() {
  var d = new Date();
  var t = d.toLocaleTimeString();
  document.getElementById("demo").innerHTML = t;
}
</script>

{% comment %} <script>
var postId = 1;

function getData2() {
$.getJSON('http://127.0.0.1:8080/home', function(data) {
myObj = data;
x = myObj.date;
var n = x.search("{\\\"distance\\\": \\\"");
n= n+14;
var res = x.substring(n);
var fin = res.substring(0,6);
var rez = fin.replace("\"", "");
var xxx = rez.replace("\\r","");
var a = parseInt(xxx);
console.log(a);
myChart2.data.labels.push(postId++);
myChart2.data.datasets[0].data.push(a);
myChart2.update();

return a;
})};

var myChart2 = new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1,2],
    datasets: [{ 
        data: [1,2],
        label: "Distance",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Distance in time:'
    }
  }
});

setInterval(console.log("gigigigigi"), 1000);
</script> {% endcomment %}

<div style="width:50%;">
  <canvas id="mycanvas"></canvas>
</div>

<script>

function getData() {
$.getJSON('http://127.0.0.1:8080/home', function(data) {
myObj = data;
x = myObj.date;
var n = x.search("{\\\"distance\\\": \\\"");
n= n+14;
var res = x.substring(n);
var fin = res.substring(0,6);
var rez = fin.replace("\"", "");
var xxx = rez.replace("\\r","");
var a = parseInt(xxx);
console.log(a);
myChart.data.labels.push(postId++);
myChart.data.datasets[0].data.push(a);
myChart.update();

return a;
})};



// create initial empty chart
var ctx_live = document.getElementById("mycanvas");
var myChart = new Chart(ctx_live, {
  type: 'bar',
  data: {
    labels: [],
    datasets: [{
      data: [],
      borderWidth: 1,
      borderColor:'#00c0ef',
      label: 'liveCount',
    }]
  },
  options: {
    responsive: true,
    title: {
      display: true,
      text: "Dynamically Update Chart Via Ajax Requests",
    },
    legend: {
      display: false
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true,
        }
      }]
    }
  }
});

// this post id drives the example data
var postId = 1;

// logic to get new data


// get new data every 3 seconds
setInterval(getData, 1000);
</script>
{% endblock %}




</body>
</html>
